<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django</title>
</head>
<body>
    <header>
        <h1>Header</h1>
    </header>

    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'signout' %}">Sign out</a></li>
                <li><a href="http://campus.unasam.edu.pe/" taget="_blank">Ver SVA</a></li>
            {% else %}
                <li><a href="{% url 'signup' %}">Sign up</a></li>
                <li><a href="{% url 'signin' %}">Sign in</a></li>
            {% endif %}
        </ul>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <h1>Footer</h1>
    </footer>

</body>
</html>